* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #e4c515;
}

#cardboard {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 10px);
  height: 33%;
  margin: 5px;
  transform-style: preserve-3d;
  transition: 0.3s;
  position: relative;
}

.memory-card:active {
  transform: scale(0.97);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 05px;
  position: absolute;
  background: #fff;
}

.front-face {
  transform: rotateY(180deg);
}

#modal{
	width: 100%;
	height: 205%;
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.75);
}

#divMsg {
	width: 70%;
	height: 30%;
	margin:15%;
	display: none;
	font-family: Verdana;
	padding: 30px;
	position: absolute;
	background-color: white;
	border-radius: 5px;
}

#divMsg > p {
	margin-top: 20px;
}

.fechar {
  position: absolute;
  width: 45px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 45px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 20px;
  color: white;
}
